# Arquivo: frontend/deployment.yaml
apiVersion: apps/v1
kind: Deployment
metadata:
  name: react-frontend-deployment
  namespace: app-namespace
spec:
  replicas: 2 # Requisito de HA
  selector:
    matchLabels:
      app: react-frontend
  template:
    metadata:
      labels:
        app: react-frontend
    spec:
      containers:
        - name: react-frontend
          image: wiliamterroso2025/react-frontend:latest
          ports:
            - containerPort: 80
          envFrom:
            - configMapRef:
                name: app-config
