# Arquivo: backend/deployment.yaml
apiVersion: apps/v1
kind: Deployment
metadata:
  name: flask-backend-deployment
  namespace: app-namespace
spec:
  replicas: 2 # Requisito de HA
  selector:
    matchLabels:
      app: flask-backend
  template:
    metadata:
      labels:
        app: flask-backend
    spec:
      containers:
        - name: flask-backend
          image: wiliamterroso2025/flask-backend:latest
          ports:
            - containerPort: 5000
          envFrom:
            - configMapRef:
                name: app-config
            - secretRef:
                name: app-secret
