# Arquivo: backend/service.yaml
apiVersion: v1
kind: Service
metadata:
  name: backend-service
  namespace: app-namespace
spec:
  selector:
    app: flask-backend
  ports:
    - protocol: TCP
      port: 5000
      targetPort: 5000
  type: ClusterIP
